@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),
        url('../fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),
        url('../fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
        url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
        url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
        url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
        url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
        url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
        url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
        url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
        url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansFaNum;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
        url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
        url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),
        url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
    font-family: IRANSansEnNum;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/ennum/eot/IRANSansWeb_Black.eot');
    src: url('../fonts/ennum/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ennum/woff2/IRANSansWeb_Black.woff2') format('woff2'),
        url('../fonts/ennum/woff/IRANSansWeb_Black.woff') format('woff'),
        url('../fonts/ennum/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansEnNum;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/ennum/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/ennum/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ennum/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
        url('../fonts/ennum/woff/IRANSansWeb_Bold.woff') format('woff'),
        url('../fonts/ennum/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansEnNum;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ennum/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/ennum/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ennum/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
        url('../fonts/ennum/woff/IRANSansWeb_Medium.woff') format('woff'),
        url('../fonts/ennum/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansEnNum;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ennum/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/ennum/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ennum/woff2/IRANSansWeb_Light.woff2') format('woff2'),
        url('../fonts/ennum/woff/IRANSansWeb_Light.woff') format('woff'),
        url('../fonts/ennum/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansEnNum;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/ennum/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/ennum/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ennum/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
        url('../fonts/ennum/woff/IRANSansWeb_UltraLight.woff') format('woff'),
        url('../fonts/ennum/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSansEnNum;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/ennum/eot/IRANSansWeb.eot');
    src: url('../fonts/ennum/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ennum/woff2/IRANSansWeb.woff2') format('woff2'),
        url('../fonts/ennum/woff/IRANSansWeb.woff') format('woff'),
        url('../fonts/ennum/ttf/IRANSansWeb.ttf') format('truetype');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
    min-height: calc(100vh - 164px);
    padding-bottom: 64px;
}

breadcrumb a {
    color: #747474;
    text-decoration: none;
}
breadcrumb {
    font-size: 12px;
}

[lang="fa"] * {
    font-family: IRANSansFaNum !important;
}

[lang="en"] * {
    font-family: IRANSansEnNum !important;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

header {
    z-index: 9999;
}

.library-header {
    background: #05425F;
}

.library-logo {
    max-width: 237px;
}

.library-bg-active {
    background: #18A558;
}

.library-title {
    position: relative;
    min-height: 300px;
}

.library-title>h1 {
    min-height: 300px;
    font-size: 5rem !important;
    text-align: center;
}

.library-title-bg:before {
    content: '';
    background-image: url(../img/title-bg.png);
    z-index: -1;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.1;
}

.library-label {
    transform: translateY(calc(-100% - 8px));
}

.library-primary-title {
    color: #05425F;
    font-size: 1.5rem;
    font-weight: 500;
}

.library-primary-button {
    background: #05425F;
    color: white;
}

.library-input {
    background: #E7F2F8;
    padding: 8px 12px;
    border: 0;
    border-radius: var(--bs-border-radius-sm) !important;
    font-size: 13px;
    outline: none;
    width: 250px !important;
}

.library-input.select {
    padding: 0 !important;
}

.library-input .selectize-input {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    width: 100% !important;
}

[lang="fa"] .library-input .selectize-input {
    padding-left: 40px !important;
}

[lang="en"] .library-input .selectize-input {
    padding-right: 40px !important;
}

.selectize-dropdown {
    background: #e7f2f8 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.library-last-products {
    background: #E7F2F8;
}

.library-primary-show-all {
    color: #747474;
    margin-top: 8px;
}

[lang="fa"] .library-pagination>a, 
[lang="fa"] .library-pagination>span {
    margin-right: 32px;
}

[lang="en"] .library-pagination>a,
[lang="en"] .library-pagination>span {
    margin-left: 32px;
}

.offcanvas {
    background: #05425F !important;
}

.offcanvas-body .lang {
    width: fit-content;
}

.copy-right-header {
    font-size: 12px;
}

.library-slider-section {
    margin-top: 36px;
}

.library-slider-section .item img {
    width: 110px !important;
    max-height: 183px;
}

.library-slider-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.library-slider-caption {
    margin-top: 8px;
    color: #747474;
    font-size: 14px;
}

.library-gap {
    margin-top: 64px;
}

.library-section-title {
    text-align: center;
    color: #05425F;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 100px;
}

.library-section-title:after {
    content: url(../img/title-path.png);
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, calc(100% + 16px));
}

.library-list-section.owl-carousel .owl-stage-outer {
    padding: 80px 0 10px !important;
}

.library-list-section .item>.library-list-link {
    width: fit-content;
    margin: auto;
    border-radius: 4px;
    background: white;
    position: relative;
    padding: 8px;
    box-shadow: 3px 4px 6px 0px rgba(116, 116, 116, 0.3);
        -webkit-box-shadow: 3px 4px 6px 0px rgba(116, 116, 116, 0.3);
        -moz-box-shadow: 3px 4px 6px 0px rgba(116, 116, 116, 0.3);
    transition: 0.3s;
    color: black;
}

.library-list-section .item>.library-list-link:hover {
    color: white;
    background: #05425F;
}

.library-list-section img {
    position: absolute;
    width: 100px !important;
    top: 0;
    transform: translateY(-40%);
}

.library-list-slider-caption {
    padding-top: 60px;
    margin-top: 8px;
    text-align: center;
    max-width: 200px;
}

.cursor-pointer {
    cursor: pointer !important;
}

input[type="radio"] {
    accent-color: #05425F;
    position: relative;
}
input[type="radio"]:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 3px solid #05425F;
    border-radius: 50%;
}

footer {
    background-color: #05425F;
    padding: 24px;
    position: relative;
}

footer:before {
    content: '';
    background: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

footer * {
    color: white;
    font-size: 14px;
}
.custom-w-100 {
    width: 100% !important;
}
.custom-border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.color-secondary {
    color: #05425F
}
.color-text {
    color: #747474;
}
.fs-14px {
    font-size: 14px;
}
@media (min-width: 1400px) {
    .w-xxl-fit {
        width: fit-content !important;
    }
}

@media (min-width: 992px) {
    .w-lg-fit {
        width: fit-content !important;
    }
    .border-lg-0 {
        border: 0 !important;
    }
}

@media (max-width: 991px) {
    .library-mobile-w-100 {
        width: 100% !important;
    }
    .library-mobile-w-50 {
        width: 50% !important;
    }
    .library-section-title:after {
        content: url(../img/mobile-title-path.png);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(calc(100% + 16px));
        overflow: hidden;
        margin: 10px;
        text-align: center;
    }
    .library-section-title {
        margin-bottom: 50px;
    }
    .library-title>h1 {
        min-height: 200px;
        font-size: 3.5rem !important;
    }
    .library-gap {
        margin-top: 32px;
    }
}

@media (max-width: 575px) {
    .library-logo {
        width: 175px;
    }
    .library-slider-content {
        text-align: center;
        width: 100% !important;
    }
}